body {
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    padding: 16px;
}

.right {
    display: flex;
    gap: 16px;
    border: 1px solid red;  
}

a {
    text-decoration: none;
    color: white;
}