body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}


.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    padding: 16px;
    gap: 90px;

}

.logo {
    font-size: 35px;
    margin-left: 50px;
    font-weight: 700;
    align-items: center;
}

.links {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    margin-right: 100px;
    font-weight: 300;
    font-style: italic;
}

.main {
    display: flex;
    justify-content: center;
    gap: 100px;
    background-color: #1F2937;
    padding: 50px;
    color: white;
}

.main-img {
    height: 400px;
    width: auto;
    border-radius: 30px;

}

.main-l {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.hero {
    display: flex;
    font-size: 4.5rem;
    font-weight: 800;
    background-color: #ffffff;
    background-image: linear-gradient(45deg, #00e5ff, #ad73f8);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: none;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    

}

.sub-hero {
    font-size: 20px;
    color: #E5E7EB;
    font-style: italic;
    margin-bottom: 30px;
}

.signup {
    background-color: #1F2937;
    border: 1px solid #3882F6;
    color: white;
    width: 200px;
    height: 40px;
    border-radius: 20px;
}

.signup:hover {
    border: 0px;
    background: linear-gradient(45deg, #00e5ff, #ad73f8);
}

.info-header {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    padding: 50px;

}

.info {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 350px;
    padding: 50px;

}

.card-img {
    width: 100px;
    height: 100px;
}

.card-txt {
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #a9a9a96a;
    gap: 30px;
}

.quote-img {
    width: 100px;
    height: 100px;
}

.quote-txt {
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
}

.cta {
    display: flex;
    justify-content: center;
    padding: 100px;
}

.cta-card {
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    height: 150px;
    width: 80%;
    display: flex;
    align-items: center;
    padding: 30px;
    color: white;
    border-radius: 30px;
}

.cta-title {
    font-size: 2.5rem;
    margin-bottom: 10px;
    min-width: 70px;
}

.cta-sub {
    font-size: 20px;
    font-weight: 300;
}

.cta-button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    width: 225px;
    height: 40px;
    border-radius: 20px;
    margin-left: 30%;
}

.cta-button:hover {
    background-color: #1F2937;
    border: 0px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 15px;
}
