body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}


.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    padding: 16px;
    gap: 90px;

}

.logo {
    font-size: 35px;
    margin-left: 50px;
    font-weight: 700;
    align-items: center;
}

.links {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    margin-right: 100px;
    font-weight: 300;
    font-style: italic;
}

.main {
    display: flex;
    justify-content: center;
    gap: 100px;
    background-color: #1F2937;
    padding: 50px;
    color: white;
}

.main-img {
    height: 400px;
    width: auto;
    border-radius: 15px;
}

.main-l {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.hero {
    font-size: 48px;
    font-weight: 800;

}

.sub-hero {
    font-size: 20px;
    color: #E5E7EB;
    font-style: italic;
    margin-bottom: 30px;
}

.signup {
    background-color: #3882F6;
    color: white;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: 0px;
    font-weight: 800;
}

.signup:hover {
    background-color: #1F2937;
    border: 1px solid #3882F6;
}